cloud_id = "zzzzzzzzzzzzzzzzzzz"
folder_id = "b1grdltsfhml9ma0o977"
zone = "ru-central1-a"
image_id = "zzzzzzzzzzzzzzz"
public_key_path = "~/.ssh/terraform.pub"
subnet_id = "zzzzzzzzzzzzz"
service_account_key_file = "key.json"
private_key_path = "~/.ssh/terraform"
instances = 1
app_disk_image = "reddit-app-base"
db_disk_image = "reddit-db-base"
prov = true
