cloud_id                  = "zzz"
folder_id                 = "vvv"
image_id                  = "bbb"
subnet_id                 = "nnn"
public_key_path           = "~/.ssh/yc.pub"
service_account_key_file  = "terraform.json"
private_key_path          = "~/.ssh/yc"
instances                 = 1
app_disk_image            = "dgdgf"
db_disk_image             = "gff"
access_key                = "dgfg"
secret_key                = "kgh"
bucket_name               = "ggg"
