cloud_id                  = "zzz"
folder_id                 = "sss"
image_id                  = "fff"
subnet_id                 = "ggg"
public_key_path           = "~/.ssh/yc.pub"
service_account_key_file  = "key.json"
private_key_path          = "~/.ssh/ycr"
instances                 = 1
app_disk_image            = "reddit-app-base"
db_disk_image             = "reddit-db-base"
access_key                = "kgg"
secret_key                = "ggg"
bucket_name               = "ggg"
