cloud_id = "zzz"
folder_id = "bzzz"
zone = "ru-central1-a"
image_id = "zzzzzzz"
public_key_path = "~/.ssh/terraform.pub"
subnet_id = "zzzzzzzzi"
service_account_key_file = "key.json"
private_key_path = "~/.ssh/terraform"
instances = 1
app_disk_image = "reddit-app-base"
db_disk_image = "reddit-db-base"
prov = true
